
table{
    margin: 100;
    border: 1px solid black;
    width: 500;
    height: 0;
}
td{
    border:1px solid black ;
    
}
.one{
    padding-left: 20;
    color: white;
}
.two{
    padding-left: 20;
}

    